body{
    background: url('../img/bgpattern.png');

}

.main-wapper{
    max-width:1200px;
    margin:0 auto;
}

/** cleans **/
ul.inline-clean{
    margin:0;
    padding:0;
}

ul.inline-clean > li {
    float:left;
    list-style: none;
    margin:0 10px;
}

.clearfix{
    clear:both;
}


/** header **/
#header-box li{
    float:right;
}

#header-box nav{
    font-size:18px;
}


/** search area **/

#search-box{
    background:#fff;
    box-shadow: 0 0 5px #888888;
    padding:50px 10px;
}

#header-box {
    margin-top:5px;
    min-height:90px;
}

/** breadcrumbs**/
#breadcrumbs{    
    padding:20px 0;
}

#breadcrumbs li:after{
    content:"\00a0\00a0\00a0→";
}

#breadcrumbs li:last-child:after{
    content: "";
}


/** page **/

.base-container {
    border-radius:3px;
}

.base-container.upper {
    background-color:#fff;
    box-shadow: 0 0 5px #888;
}

.base-container.lower {
    box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;
    background-color: rgba(0,0,0,0.12);
}

#page-wrapper > .container-fluid > div{
    padding:0;
}



/** footer **/




/** bootstrap expansion **/

.input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#notifications-hidder{
    transition: all 5ms;
}


.photoprev{
    height:150px;width:150px;float:left;
    background-size:cover;
    background-position: center center;
    margin:5px;
}

.photoprev span{
    float:right;
    margin:5px;
    padding:2px;
    background:rgba(255,255,255,0.5 );
    border-radius:3px;    
}

a{
    color:#333;
    text-decoration:none;
}

a:hover{
    color:#000;
    text-decoration:none;
}